<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% load mptt_tags %}

    <header class="header fixed-top bg-body-tertiary">
      <div class="container-fluid" style="border-bottom: solid 1px">
        <div
          class="nav d-flex align-items-center px-4 py-3"
          style="gap: 2rem; flex-wrap: nowrap"
        >
          <div class="btn-group" style="display: block !important">
            <button
              class="btn btn-secondary dropdown-toggle menu-icon-dropdown d-flex align-items-center bg-body border text-dark gap-2 border-black py-2 rounded-0 menu-icon-dropdown-res"
              type="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              <!-- <i class="bi bi-list text-dark" style="font-size: 1.6rem"></i> -->
              <i class="fa-solid fa-burger" style="font-size: 1.6rem"></i>

              <span class="menu-span">Menu</span>
            </button>
            <ul class="dropdown-menu menu-icon-dropdown1 rounded-0 border-0">
              {% recursetree cat %}
              <div class="btn-group dropend">
                <button
                  type="button"
                  class="btn btn-secondary dropdown-toggle menu-second-icon-dropdown dropdown-item"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ node }}
                </button>
                <ul class="dropdown-menu">
                  {% if not node.is_leaf_node %}
                  <div>
                    {% for child in node.get_children %}
                    <li>
                      <a
                        class="dropdown-item"
                        href="{% url 'collections' child.slug %}"
                        >{{ child }}</a
                      >
                    </li>
                    {% endfor %}
                  </div>
                  {% endif %}
                </ul>
              </div>
              {% endrecursetree %}
            </ul>
          </div>

          <div class="website-logo-div">
            <a href="{% url 'home' %}">
              <img
                src="/static/images/website_logo.svg"
                alt=""
                style="max-width: 105px"
                class="website-logo-img"
              />
            </a>
          </div>

          <div class="input-group search-res1">
            <form
              action="{% url 'home' %}"
              method="get"
              class="input-group search-res-form"
            >
              <input
                type="text"
                class="form-control rounded-0"
                id="search-input"
                name="search"
                value="{{search}}"
                placeholder="search..."
                aria-label="search..."
                aria-describedby="basic-addon1"
                style="height: 100%"
              />
              <button
                class="input-group-text border-0 p-3 type-button"
                id="basic-addon1"
                style="background-color: #f8731e !important"
                type="submit"
              >
                <i
                  class="fa-solid fa-magnifying-glass text-light"
                  style="font-size: 1.2rem"
                ></i>
              </button>
            </form>
          </div>

          <div
            class="result"
            id="search_results"
            style="
              position: absolute;
              top: 100px;
              overflow-y: scroll !important;
              z-index: 100;
              max-height: 300px;
            "
          >
            <div class="product_detail"></div>

            <div class="spinner-border" role="status" id="spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div class="d-flex align-items-center gap-3">
            <div class="search-res">
              <i
                class="fa-solid fa-magnifying-glass"
                style="font-size: 1.2rem"
              ></i>
            </div>

            <div class="cart d-flex gap-3">
              <i
                class="fa-solid fa-cart-shopping fs-3"
                style="color: #000000"
              ></i>

              <p class="cart-total">0</p>

              <span class="menu-span">Cart</span>
            </div>
          </div>

          <div class="cart-modal p-3">
            <div
              style="width: 100%; text-align: center"
              class="delete-after-product"
            >
              <div class="mb-5 d-flex flex-column mt-5">
                <i
                  class="fa-solid fa-cart-shopping"
                  style="color: #000000; font-size: 3rem; margin: 0 auto"
                ></i>
                <h4>Your cart is empty!</h4>
              </div>

              <a class="buy-our-product" href="">Buy our products</a>
            </div>

            <div class="delete-before-product">
              <a
                href="{% url 'cart' %}"
                style="width: 100%"
                class="option delete-before-product1"
                >Go To Cart</a
              >

              <p class="sum-of-product"></p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      const search_res1 = document.querySelector(".search-res1");

      const fa_magnifying_glass = document.querySelector(".search-res");

      fa_magnifying_glass.addEventListener("click", () => {
        search_res1.classList.toggle("show");
      });

      $(document).ready(function () {
        $.ajax({
          type: "GET",
          url: "/get_cart_data/",

          success: function (data) {
            if (!data.message) {
              for (let index = 0; index < data.cart_products.length; index++) {
                const element = data.cart_products[index];

                $(".delete-after-product").addClass("deactivate");
                $(".delete-before-product").addClass("active");
                $(".delete-before-product1").addClass("active");

                let cart_total_value = parseInt($(".cart-total").text());

                $(".cart-total").text(cart_total_value + 1);

                $(".delete-before-product").append(
                  `<div class='col gap-5 delete-before-product-product' name="product-${element.sku}" style='width: 100%; align-items: center; justify-content: center;'>

                  <div class="for_photo" style='max-width: 100%; display: flex;'>
                  <img src="/static/images/${element.img_url}" style='max-width: 100%; max-height: 100px; margin:0 auto;' class="for_photo-images" alt="">
                  </div>

                  <span class="price-name"><span class="price-spn">$${element.price}</span> <span>${element.name}</span></span?>

                  <button class="delete-cart-cookie-btn" name="${element.sku}">Delete</button>

                  </div>
                  `
                );

                $(".delete-before-product-product").addClass("active");

                let sum = 0;

                let valuesArray = $(".price-spn")
                  .text()
                  .split("$")
                  .filter(Boolean);

                sum = valuesArray.reduce(
                  (acc, val) => acc + parseFloat(val),
                  0
                );

                if ($(".price-spn").length === 1) {
                  $(".sum-of-product").text(`Sum: $${element.price}`);
                } else {
                  $(".sum-of-product").text(`Sum: $${sum.toFixed(2)}`);
                }

                let btn_name = `button[name="${element.sku}"]`;

                $(btn_name)
                  .off("click")
                  .on("click", function () {
                    if (
                      $(".delete-before-product-product.active").length === 1
                    ) {
                      document.cookie =
                        "cart_items=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

                      $(".delete-after-product").removeClass("deactivate");
                      $(".delete-before-product").removeClass("active");
                      $(".delete-before-product1").removeClass("active");

                      $(".cart-total").text(0);

                      setTimeout(function () {
                        location.reload();
                      }, 500); // Reload the page after a short delay (100 milliseconds)
                    } else if (
                      $(".delete-before-product-product.active").length > 1
                    ) {
                      var cartItems = document.cookie
                        .split(";")
                        .find((cookie) =>
                          cookie.trim().startsWith("cart_items=")
                        );

                      if (cartItems) {
                        // Extract the value of cart_items from the cookie string
                        cartItems = cartItems.split("=")[1];

                        // Replace '\054' (non-standard character) with ',' in the JSON string
                        cartItems = cartItems.replace(/\\054/g, ",");

                        // Extract individual items from the complex string format
                        var items = cartItems.match(/\{[^}]*\}/g);

                        if (items) {
                          // Convert the matched items into an array of objects
                          var parsedCartItems = items.map((item) =>
                            JSON.parse(item.replace(/'/g, '"'))
                          );

                          // Filter out the item with the SKU 'SKU003'
                          parsedCartItems = parsedCartItems.filter(
                            (item) => item.sku !== element.sku
                          );

                          cart_total_value += 1;

                          // Update the cart_items cookie with the modified array
                          document.cookie =
                            "cart_items=" +
                            JSON.stringify(parsedCartItems) +
                            "; expires=Thu, 01 Jan 2070 00:00:00 UTC; path=/;";

                          $(".cart-total").text(cart_total_value - 1);

                          $(`div[name="product-${element.sku}"]`).removeClass(
                            "active"
                          );

                          setTimeout(function () {
                            location.reload();
                          }, 500); // Reload the page after a short delay (100 milliseconds)
                        }
                      }
                    }
                  });
              }
            }
          },
          error: function (error) {
            console.log(error);
          },
        });
      });
    </script>
  </body>
</html>
